# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/

# Optional: uncomment if you don't want to include data files in the repo
# data/*.csv

# Large model files
*.pt
*.bin
*.safetensors
bert_misinfo_model_with_lime/
